:root {
    --seablue: #7ec3c2;
    --gray: #2e2e2e;
    --offWhite: #FAF6F6;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-top: 1.25rem;
}

button{
    background-color: var(--seablue);
    color: var(--offWhite);
    border: none;
    padding: 0.375rem 1rem;
    height: 2rem;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

.logo_icon{
    height: fill;
    width: 4.375rem;
}


.nav-link-container{
    display: flex;
    gap: 2rem;
}

.landing{
    height: calc(100vh- 4.5rem);
    display: flex;
    align-items: center;
}

.bigimg{
    width: 600px;
    height: 600px;
    margin-right: -80px;
    margin-top: -88px;
}
.main-text{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.main-text h1{
    font-size: 108px;
    font-weight:800;
    line-height: 102px;
}

.main-text p{
    font-size: 16px;
    line-height: 20px;
    font-weight:500;
    max-width: 400px;
}

.main-btn{
    display: flex;
    gap: 30px;
}

.amazon-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.amazon{
    width: 20px;
}